.Modal {
    position: absolute;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #74c8f8;
    border: 1px solid black;
    transition: all 0.3s ease-in;
}
