.Square {
    height: 60px;
    width: 60px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.SquareValueEnter {
    opacity: 0;
}
.SquareValueEnterActive {
    opacity: 1;
    transition: opacity 300ms;
}
