.App {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins';
}

.SquareContainer {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.LeftDiv {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4aaeff;
    transition: all 0.5s ease-out;
}

.LeftDivActive {
    transform: translateX(-100%);
}

.RightDiv {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #296392;
    transition: all 0.5s ease-out;
}

.RightDivActive {
    transform: translateX(100%);
}

.PrimaryButton {
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: #4aaeff;
    border: 1px solid #4aaeff;
    font-family: 'Poppins';
    font-size: 14px;
    border-radius: 5px;
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.PrimaryButtonActive {
    opacity: 0;
    transform: translateY(-100%);
}

.PrimaryButton:hover {
    color: #296392;
    border: 1px solid #296392;
}

.PrimaryButton:focus {
    outline: none;
}

.ModalEnterActive {
    animation: modalEnter 0.5s forwards;
}

.ModalExitActive {
    animation: modalExit 0.5s forwards;
}

@keyframes modalEnter {
    0% {
        opacity: 0;
        transform: translateY(-100%)
    }
    70% {
        opacity: 1;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes modalExit {
    0% {
        opacity: 1;
        transform: translateY(0)
    }
    30% {
        opacity: 1;
        transform: translateY(50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
